{{> head }}
{{> navbar }}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h1>Franco Peralta</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore vitae perferendis minus quae sit corrupti. Excepturi cupiditate, praesentium maiores dolores velit aut inventore iste magni laboriosam error. Ullam, iure facilis. Dignissimos in quam mollitia labore optio, incidunt eaque cupiditate molestias quas odio, fugiat minima accusantium sed nihil eveniet architecto explicabo excepturi quibusdam voluptatibus aliquam autem! Eligendi ipsam, ratione recusandae dolorem dolorum quibusdam expedita! Tempore delectus doloremque sit quia consectetur alias ab? Repellat harum deserunt ex nobis asperiores vero nisi, soluta minus a quia voluptate laboriosam dignissimos incidunt perspiciatis delectus fugiat totam unde doloremque quod ipsum, accusamus cupiditate doloribus ullam atque.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/mr-robot-viernes.jpg" class="img-thumbnail">
        </div>
    </div>
</div>
{{> footer }}